import("tcltk")
importFrom("rgdal", "readGDAL")
importFrom("vec2dtransf", "AffineTransformation",
                          "calculateParameters",
                          "applyTransformation")
importFrom("sp", "coordinates", "coordinates<-", "over")
exportPattern("^[[:alpha:]]+")
